<h1>All Posts</h1>
<hr>

{{#each posts}}
<div>
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <small>Posted by {{User.username}} on {{formattedCreatedAt}}</small>
  <br><br>
  <a href="/posts/{{id}}">Read more</a>
</div>
{{/each}}
