{{#extend "layouts/main"}}
{{#content "title"}}Home{{/content}}
{{#content "body"}}
<h1>Welcome to our blog site!</h1>
{{#if currentUser}}
<p>Hello, {{currentUser.username}}! Would you like to <a href="/post/new">create a new post</a>?</p>
{{/if}}
{{#each posts}}
<div class="post">
  <h2>{{title}}</h2>
  <p class="author">by {{User.username}} on {{createdAt}}</p>
  <p>{{body}}</p>
  {{#if currentUser}}
  {{#if (eq currentUser.id User.id)}}
  <button class="delete-button" data-post-id="{{id}}">Delete</button>
  {{/if}}
  {{/if}}
</div>
{{/each}}
{{/content}}
{{/extend}}
{{#extend "layouts/main"}}
{{#content "title"}}Home{{/content}}
{{#content "body"}}
<h1>Welcome to our blog site!</h1>
{{#if currentUser}}
<p>Hello, {{currentUser.username}}! Would you like to <a href="/post/new">create a new post</a>?</p>
{{/if}}
{{#each posts}}
<div class="post">
  <h2>{{title}}</h2>
  <p class="author">by {{User.username}} on {{createdAt}}</p>
  <p>{{body}}</p>
  {{#if currentUser}}
  {{#if (eq currentUser.id User.id)}}
  <button class="delete-button" data-post-id="{{id}}">Delete</button>
  {{/if}}
  {{/if}}
</div>
{{/each}}
{{/content}}
{{/extend}}
