{{#extend "layouts/main"}}
{{#content "title"}}{{post.title}}{{/content}}
{{#content "body"}}
<div class="post">
  <h1>{{post.title}}</h1>
  <p class="author">by {{post.User.username}} on {{post.createdAt}}</p>
  <p>{{post.body}}</p>
  {{#if currentUser}}
  {{#if (eq currentUser.id post.User.id)}}
  <button class="delete-button" data-post-id="{{post.id}}">Delete</button>
  {{/if}}
  {{/if}}
</div>
{{/content}}
{{/extend}}
